.imgTaille{
    width: 50%;
}
.nav{
    width: 45%;
}
.img{
    width: 30%;
}
.bloc-nav{
    display: flex;
    justify-content: center;
}
.listeArticle{
    display: contents;
    flex-direction: column;
}

.backLogo{
    background-color: #f3e9f1;
}
.background{
    background: transparent;
    border: 0;
}
.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color:  #f3e9f1;
    padding-top: 30px;
}
.buttonValide{
    justify-content: center;
    display: flex;
    width: 143%;
}
.butonLentilles{
    width: 11em!important;
    
}
.prixTotal{
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
}
.card{
    width: 25rem;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px 1px;
}

.img-marge{
    margin-top: 10px;
}
.card-panier{
width: 13rem !important;
display: flex;
align-items: center;

}
#productListPanier{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card-description{
    width: 35rem !important;
}
.card-alignement{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.img-taille-panier{
    height: 9rem;
    object-fit: cover;
}
.formulairePlacement{
    display: flex;
}